
body {
    margin: 0;
    padding: 0;
}
main{
    padding: 16px;
}
footer{
    padding-top: 50px;
    padding-bottom:50px;
    padding-left:20px;
    padding-right:0;
    background-color: magenta;
}
img{
    height:200px;
}
nav{
    border-bottom: 1px solid purple;
    padding:16px;
    background-color: violet;
}
a{
    text-decoration: none;
    color: navy;
}
.grid-iron{
    display:grid;
    grid-template-columns: auto auto auto auto;

}
tr:nth-child(even){
 background: grey;
}
